#header .navbar-brand {
    color: #fff;
}

#wrapper{
	margin-bottom:16px;
}

#menu,#main,#sidebar
{
	height:600px;
	background-color:#e9ebee;
}

#header{
	background-color:#4267b2;
}

footer{	
}

.white-text{
	color:white !important;
}

.active a{
	background-color:#4267b2 !important;
}


#header ul .glyphicon{
	font-size:20px;
}

#header{
	height: 50px;
}

#search-wrapper{
	width: 404px;
	display: inline-block;
	position: relative;
}

#search-wrapper > input{
	width: 400px;
	border-right: none;
	border-radius: 0px;
	margin: 0;
}

#search-wrapper > button{
	border-left: none;
	margin: 0;
	position: absolute;
	right: 0;
	background-color: #e9ebee;
}

.navbar-brand{
	margin-left: 80px !important;
}

#header img{
	border-radius: 50%;
}

#header ul li a{
	padding-left: 10px;
	padding-right: 10	px;
}

.navbar-right{
	margin-right: 65px;
}

.hbreak{
	border-left: 1px solid #e9ebee;
	line-height: 50px;
}

.list-heading{
	padding: 20px 15px 0 15px;
}

.panel-body .glyphicon {
    margin-left: 10px;
    margin-right: 4px;
}

.text-post {
    margin-bottom: 15px;
    margin-top: 0;
    color: #444444;
}

.image-post {
    margin-bottom: 15px;
}

#main {
    overflow: auto;
}

#main::-webkit-scrollbar {
    display: none;
}