body{
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	background-color:#e9ebee;
}

#header .navbar-brand {
    color: #fff;
    padding: 10px 15px;
}

#wrapper{
	margin-bottom:16px;
	margin-top:60px; 
}

#chat
{
	height:600px;
}

#header{
	background-color:#3B5998;
}

footer{	
}

.white-text{
	color:white !important;
}

#header ul .glyphicon{
	font-size:20px;
	color: #fff;
}

#header{
	height: 43px !important;
}

#search-wrapper{
	width: 404px;
	display: inline-block;
	position: relative;
}

#search-wrapper > input{
	width: 400px;
	border-right: none;
	border-radius: 0px;
	margin: 0;
}

#search-wrapper > button{
	border-left: none;
	margin: 0;
	position: absolute;
	right: 0;
	background-color: #e9ebee;
}

.navbar-brand{
	margin-left: 80px !important;
}

#header ul li a{
	padding-left: 10px;
	padding-right: 10	px;
}

.navbar-right{
	margin-right: 65px;
}

.hbreak{
	border-left: 1px solid #355089;
	line-height: 50px;
}

.list-heading{
	padding: 10px 15px 0 10px;
	color: #4B4F56;
	font-weight: 600;
	font-size: 12px;
}

.panel-body .glyphicon {
    margin-left: 30px;
    margin-right: 4px;
}

.text-post {
    margin-bottom: 15px;
    margin-top: 0;
    color: #444444;
}

.image-post {
    margin-bottom: 15px;
}

#main {
    overflow: auto;
}

#main::-webkit-scrollbar {
    display: none;
}

#menu{
	overflow: auto;
}

#menu::-webkit-scrollbar {
    display: none;
}

.black-text{
	color: #0B121E !important;
}

.dropdown-menu li a{
	display: inline-block;
	font-size: 14px;
}

.dropdown-menu{
	width: 270px;
}

.dropdown-menu li{
	padding-left: 40px;
	padding-right: 40px;
}

#dd-heading{
	font-size: 13px;
	font-weight:600; 
	padding-left: 20px;
	padding-bottom: 5px;
	padding-top: 5px;
}

#inline li{
	display: inline-block;
}



#menu ul li a{
	font-size: 13px;
	color: #000;
	padding:5px 15px;
}
#menu #inline li a{
	padding: 5px 6px;
	color: #365899;
	font-size: 12px;

}
#menu #inline li{
	margin: 0;
	padding: 0;
}

#menu .badge{
	position: absolute;
	right: 10px;
	font-size: 10px;
	padding: 3px 4px;
	color: #90949C;
	background-color:transparent;
}

#menu-heading{
	margin-bottom: 10px;
}

#header ul li a{
	margin-left: -5px;
	margin-right: -5px;
}

#header ul li .white-text{
	margin-right: 10px;
}

.hbreak
{
	margin-right: 5px;
	margin-left: 5px;
}

#reactions img{
	margin: -2px;
}

.panel hr{
	margin-top: 15px;
	margin-bottom: 15px;
}

#reactions{
	color: #90949C;
}

#rxn-right{
	position: absolute;
	right: 30px;
}

#rxn-right img{
	margin-left: 30px;
}

.panel-title img{
	float: left;
	margin-right: 5px;
}

.panel-heading h3{
	color:#3B5998;
	font-weight: bold;
}

.panel-heading h5{
	margin-top: 6px;
}

.panel-body{
	position: relative;
}

.comments{
	font-size: 14px;

}

.media-body h6{
	margin: 0px;
}

.panel-body a {
	color: #000;
}

#news-ticker ul li .glyphicon{
	margin-left: -5px;
}

#news-ticker>p{
	color: #A4A7AE;
	font-size: 13px;
	font-weight: 600;
	line-height: 42px;
	margin-left: 15px;
}

#news-ticker ul{
	border-bottom: none;
	position: absolute;
	right: 10px;
}

#news-ticker{
	position: relative;
	background-color: #fff;
	margin-bottom: 20px;
}

#news-ticker li a{
	border:none;
}

#news-ticker li.active a  {
	border-bottom: 1px solid #3B5998;
}

#sidebar .list-group-item{
	border:none;
}

#news-ticker .list-group{
	margin-bottom: 0;
}

#news-ticker .list-group .glyphicon-triangle-bottom{
	margin-left: 15px;
}

#sidebar .tab-content{
	padding-top: 50px;
}

#sidebar h4{
	color: #3B5998 !important;
}

#sidebar p{
	color: #000;
}

#sidebar small{
	color: #A4A7AE;
}

#right-nav>li>a>.badge{
	position: absolute;
	top: 10px;
	right: 6px;
	border-radius: 25%;
	padding: 3px 4px;
	background-color: #FA3E3E;
}

#blue-text{
	color: #365899 !important;
}

@media (max-width: 767px) { 
	#bs-example-navbar-collapse-1{
		background-color:#3B5998;
		height: 150px;

	}

	#bs-example-navbar-collapse-1 ul li{
		display: inline-block;
	}

	#search-wrapper > input{
	display: none;
	}
}

@media (max-width: 991px){
	#search-wrapper{
	width: 204px;
	}

#search-wrapper > input{
	width: 200px;
	}

#search-wrapper > button{
	border-left: none;
	}
}

#birthday{
	background-color: #fff;
	padding: 10px 10px 10px 15px;
	margin-bottom: 20px;
}

#recm-pages{
	background-color: #fff;
}
#recm-pages h4{
	padding-top: 10px;
}

#chat{
	border-left: 1px solid #CCCCCC;
}

@media (min-width: 1200px){
	#wrapper {
    width: 1170px;
  }